/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
   --cover-image: url("../images/cover-image-dark.png");
  --accent-color: #ff0070;
  --accent-color-alpha: #ff006f66;
  --title-color: #ff0070;
  --text-color: #DB00FF;
  --main-text-color: #f1b2ce;
  --subtitle-color: #000028;
}



