/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --cover-image: url("../images/cover-image-dark.png");
  --bg-color: #000028;
  --accent-color: #ff0070;
  --accent-color-alpha: #ff006f66;
  --title-color: #ff0070;
  --text-color: #db00ff;
  --main-text-color: #f1b2ce;
  --subtitle-color: #000028;
  --main-text-size: 18px;
  --main-gap: 10px;
  --aux-gap: 10px;
  --main-line-height: 1.3;
  --main-font-family: "IBM Plex mono", sans-serif;
  --title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

@media (width >= 768px) {
  :root {
    --title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
