/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --cover-image: url("../images/cover-image-dark.png");
  --accent-color: #ff0070;
  --accent-color-alpha: #ff006f66;
  --title-color: #ff0070;
  --text-color: #DB00FF;
  --main-text-color: #f1b2ce;
  --subtitle-color: #000028;
  --main-text-size: 18px;
  --main-gap: 10px;
  --aux-gap: 10px;
  --main-line-height: 1.3;
  --main-font-family: 'IBM Plex mono', sans-serif;
}